


<div class="category">
    <h3>Cafés</h3>
    <a href="#"><img alt="Café" height="200" src="img/café_img.jpg" width="200" /></a>
</div>
<div class="category">
    <h3>Bebidas</h3>
    <a href="#"><img alt="Bebidas" height="200" src="img/bebidas.jpg" width="200" /></a>
</div>
<div class="category">
    <h3>Lanches</h3>
    <a href="#"><img alt="sanduiche" height="200" src="img/sanduiche.jfif" width="200" /></a>
</div>