<html>

<head>
    <title>
        Product Page
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css">

</head>

<body>
    <div class="header">
        <a asp-controller="Home" asp-action="Index">
        <img alt="Logo" height="50" src="~/img/xicara-de-cafe-quente.png" width="50" />
        </a>
        <nav>
            <a asp-controller="Home" asp-action="Index">Produtos</a>
            <a asp-controller ="Home" asp-action="Index">Estrutura</a>
            <a asp-controller="Home" asp-action="Index">Novidade</a>
        </nav>
        <form>
            <div class="search-bar">
                <input placeholder="Busque por um produto" type="text" class=".header .search-bar .text-input" />
                <button type="submit">Buscar</button>
            </div>
        </form>
        <div class="cart">
            R$ 0,00
        </div>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="footer">
        <p>Avenida Romeu Tuma 350, Vila Santa Rosa<br />São Paulo<br />Telefone 17 0000 - 0000</p>
    </div>
</body>

</html>